body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

h1 {
  margin: auto;
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
  color: #66BFBF;
  line-height: 2;
  transition: ease, .3s;
}

h1:hover {
  color: #646464;
  transition: ease, .3s;
  text-shadow: 0 0 10px #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3, a {
  color: #11999E;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  font-weight: bold;
}

hr {
  width: 150px;
  border-color: #646464;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
}

.top-container {
  background-color: #EFFFFD;
  padding-top: 100px;
  position: relative;
}

.contact-me {
  margin-bottom: 100px;
}

.cloud-top {
  position: absolute;
  right: 30%;
}

.cloud-bottom {
  position: absolute;
  left: 30%;
}

.title-desc {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-weight: normal;
}

.skills {
  margin-top: 80px;
}
.skills-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.skills-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}

.skill-row {
  width: 45%;
  margin: 80px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.profile {
  margin: 80px 0;
}

/* BUTTON*/

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Lobster Two';
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/*BUTTON*/

.contact-me {
  margin-top: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 50px 0;
}

.address {
  margin-bottom: 50px;
}

.footer-link {
  margin: 0 30px;
  font-weight: bolder;
  color: #11999E;
  text-decoration: none;
  line-height: 3;
}

.footer-link:hover {
  color: #FFF;
  transition: ease .3s;
}

.copyright {
  color: #EAF6F6;
}
